* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

ul,
il {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color:#21243D;
}

h1,
h2,
h3 {
    margin: 0;
}


wrapper {
    height: 415px;
    width: 1119px;

}
